.sean {
    position: absolute;
    font-size: 02vmax;
    top: 20%;
}

.word-enter {
    opacity: 0;
}

.word-enter.word-enter-active {
    visibility: visible;
    opacity: 1;
    transition: opacity 1000ms ease-in;
}