@font-face {
    font-family: 'Expressway';
    src: url('fonts/expressway\ rg.ttf')
}

.welcome_message {
    font-family: "Courier New";
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
}

.welcome_text {
    color:white;
    position:absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

body {
    background-image: url(images/index_background.jpg);
    background-size: 100%;
}

.body_text {
    font-family: 'Expressway';
    position: absolute;
    margin-top: 30px;
}

.home_text {
    font-size: 250%;
    width: 100%;
}

table {
    width: 100%;
    z-index: -1;
}

.sean_method {
    display: table;
}

.home_text h1 {
    margin: 0;
    display: table;
}

.projects_text {
}

.about_text {
}

.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.navlink p {
    font-family: "Courier New";
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

.highlighted p {
    color: red;
}
